@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
  0% {
    background-position: -450px 0;
  }
  100% {
    background-position: 450px 0;
  }
}

.shimmer {
  background: linear-gradient(to right, #eeeeee 8%, #f5f5f5 18%, #eeeeee 33%);
  background-size: 800px 104px;
  animation: shimmer 1.5s infinite linear;
}
